[submodule "submoduleX/videoFrameModule"]
	path = submoduleX/videoFrameModule
	url = git@bitbucket.org:id4tv/videoframemodule.git
[submodule "submoduleX/dnxFrameModule"]
	path = submoduleX/dnxFrameModule
	url = git@bitbucket.org:id4tv/dnxmodule.git
[submodule "submoduleX/dnxGPUModule"]
	path = submoduleX/dnxGPUModule
	url = git@bitbucket.org:id4tv/dnxgpumodule.git
[submodule "submoduleX/VideoFrameGPUModule"]
	path = submoduleX/VideoFrameGPUModule
	url = git@bitbucket.org:id4tv/videoframegpumodule.git
[submodule "submoduleX/dveGPUModule"]
	path = submoduleX/dveGPUModule
	url = git@bitbucket.org:id4tv/dvegpumodule.git
[submodule "submoduleX/simplylivebase"]
	path = submoduleX/simplylivebase
	url = git@bitbucket.org:id4tv/simplylivebase.git
[submodule "submoduleX/std-simplylive"]
	path = submoduleX/std-simplylive
	url = git@bitbucket.org:id4tv/std-simplylive.git
