[submodule "submodule/videoFrameModule"]
	path = submodule/videoFrameModule
url=git@bitbucket.org:id4tv/videoframemodule.git
[submodule "submodule/dnxFrameModule"]
	path = submodule/dnxFrameModule
url=git@bitbucket.org:id4tv/dnxmodule.git
[submodule "submodule/dnxGPUModule"]
	path = submodule/dnxGPUModule
url=git@bitbucket.org:id4tv/dnxgpumodule.git
[submodule "submodule/VideoFrameGPUModule"]
	path = submodule/VideoFrameGPUModule
url=git@bitbucket.org:id4tv/videoframegpumodule.git
[submodule "submodule/dveGPUModule"]
	path = submodule/dveGPUModule
url=git@bitbucket.org:id4tv/dvegpumodule.git
[submodule "submodule/simplylivebase"]
	path = submodule/simplylivebase
url=git@bitbucket.org:id4tv/simplylivebase.git
[submodule "submodule/std-simplylive"]
	path = submodule/std-simplylive
url=git@bitbucket.org:id4tv/std-simplylive.git